<h1>Update User Info </h1>
<% if @current_user == @user %>
  <%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <%= f.label :bio %>
    <%= f.text_area :bio %>
    <%= f.submit %>
  <% end %>
  <%= link_to "Delete User FOREVER!", '/login', method: :delete %>
<% else %>
  <p>You can't update other user profiles, silly!</p>
<% end %>
