
<h1>Registration</h1>
<div class="registration">
<%= form_for @user do |f| %>
  <div><%= f.label :username %></div>
  <div><%= f.text_field :username %></div>
  <div><%= f.label :location %></div>
  <div><%= f.text_field :location %></div>
  <div><%= f.label :bio %></div>
  <div><%= f.text_area :bio %></div>

  <div><%= f.label :password %></div>
  <div><%= f.password_field :password %></div>
  <div><%= f.label :password_confirmation %></div>
  <div><%= f.password_field :password_confirmation %></div>

  <%= f.submit %>
<% end %>
</div>
