<h1> Create A New Gift Item </h1>

<div class="gift-item">
    <% if flash[:errors] %>
      <ul>
        <% flash[:errors].each do |err| %>
          <li>
            <%= err %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <%= form_for @gift_item do |f| %>
      <%= f.label :item %>
      <%= f.text_field :item %>
      <%= f.submit %>
    <% end %>
    <br>
    <%= link_to "Find A User!(to send your gift to)", users_path %>
    <%= link_to "See All Gifts", gift_items_path %>
</div>